In [75]:
import requests
from bs4 import BeautifulSoup

In [81]:
def scrap_macrotrend(link, variable_name=None, company_name=None):
    url = link
    page = requests.get(url)
    soup = BeautifulSoup(page.content, 'html.parser')
    tb = soup.find_all('table', class_='historical_data_table table')
    tb = tb[1]
    tb = tb.find_all("td")
    
    date = []
    variable = []
    for i in range(len(tb)):  
        if i % 2 == 0:
            date.append(tb[i].text)
        else:
            variable.append(tb[i].text) 
    df = pd.DataFrame.from_dict({"date":date, variable_name:variable})
    return df

In [83]:
apple_rd = scrap_macrotrend('https://www.macrotrends.net/stocks/charts/AAPL/apple/research-development-expenses',
                "r&d", "Apple")
apple_asset = scrap_macrotrend('https://www.macrotrends.net/stocks/charts/AAPL/apple/total-assets',
                              "assets", "Apple")
apple_liabilities = scrap_macrotrend("https://www.macrotrends.net/stocks/charts/AAPL/apple/total-liabilities",
                                    "liabilities", "Apple")
apple_rd.head(2)

         date     r&d
0  2020-09-30  $4,978
1  2020-06-30  $4,758

In [98]:
apple = apple_rd.merge(apple_asset, on=["date"], how="left")
apple = apple.merge(apple_liabilities, on=["date"], how="left")
apple["r&d"] = apple["r&d"].str.replace(',', '').str.replace('$', '').astype(float)
apple["assets"] = apple["assets"].str.replace(',', '').str.replace('$', '').astype(float)
apple["liabilities"] = apple["liabilities"].str.replace(',', '').str.replace('$', '').astype(float)
apple["liquidity"] =  apple["assets"] / apple["liabilities"]
apple.head()

         date     r&d    assets  liabilities  liquidity
0  2020-09-30  4978.0  323888.0     258549.0   1.252714
1  2020-06-30  4758.0  317344.0     245062.0   1.294954
2  2020-03-31  4565.0  320400.0     241975.0   1.324104
3  2019-12-31  4451.0  340618.0     251087.0   1.356574
4  2019-09-30  4110.0  338516.0     248028.0   1.364830

In [100]:
google_rd = scrap_macrotrend("https://www.macrotrends.net/stocks/charts/GOOG/alphabet/research-development-expenses",
                            "r&d", "Alphabet")
google_asset = scrap_macrotrend("https://www.macrotrends.net/stocks/charts/GOOG/alphabet/total-assets",
                               "assets", "Alphabet")
google_liabilities = scrap_macrotrend("https://www.macrotrends.net/stocks/charts/GOOG/alphabet/total-liabilities",
                                      "liabilities", "Alphabet")
google_rd.head(2)

         date     r&d
0  2020-09-30  $6,856
1  2020-06-30  $6,875

In [99]:
google = google_rd.merge(google_asset, on=["date"], how="left")
google = google.merge(google_liabilities, on=["date"], how="left")
google["r&d"] = google["r&d"].str.replace(',', '').str.replace('$', '').astype(float)
google["assets"] = google["assets"].str.replace(',', '').str.replace('$', '').astype(float)
google["liabilities"] = google["liabilities"].str.replace(',', '').str.replace('$', '').astype(float)
google["liquidity"] = google["assets"] / google["liabilities"]
google.head()

         date     r&d    assets  liabilities  liquidity
0  2020-09-30  6856.0  299243.0      86323.0   3.466550
1  2020-06-30  6875.0  278492.0      71170.0   3.913053
2  2020-03-31  6820.0  273403.0      69744.0   3.920093
3  2019-12-31  7222.0  275909.0      74467.0   3.705118
4  2019-09-30  6554.0  263044.0      68075.0   3.864032